<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teeya.article.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.teeya.article.entity.pojo.ArticleEntity">
    <result column="id" property="id" />
    <result column="deleted" property="deleted" />
    <result column="remark" property="remark" />
    <result column="version" property="version" />
    <result column="title" property="title" />
    <result column="content" property="content" />
    <result column="visible" property="visible" />
    <result column="reading_number" property="readingNumber" />
    <result column="created_time" property="createdTime" />
    <result column="updated_time" property="updatedTime" />
    <result column="created_by" property="createdBy" />
    <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        deleted,
        remark,
        version,
        title, content, private, reading_number, created_time, updated_time, created_by, updated_by
    </sql>

    <select id="queryList" resultType="com.teeya.article.entity.pojo.ArticleEntity">
        SELECT t1.* FROM article t1
            LEFT JOIN article_label_relation t2 ON t1.id = t2.article_id
            LEFT JOIN article_classification_relation t3 ON t1.id = t3.article_id
            <where>
                <if test="articleQueryForm.title != null and articleQueryForm.title != ''">
                    AND t1.title = #{articleQueryForm.title}
                </if>
                <if test="articleQueryForm.labelId != null and articleQueryForm.labelId != ''">
                    AND t2.label_id = #{articleQueryForm.labelId}
                </if>
                <if test="articleQueryForm.classificationId != null and articleQueryForm.classificationId != ''">
                    AND t3.classification_id = #{articleQueryForm.classificationId}
                </if>
                <if test="articleQueryForm.visible != null and articleQueryForm.classificationId != ''">
                    AND t1.visible = #{articleQueryForm.visible}
                </if>
                <if test="articleQueryForm.classificationId != null">
                    AND t1.deleted = #{articleQueryForm.deleted}
                </if>
            </where>
    </select>

    <select id="queryWebList" resultType="com.teeya.article.entity.pojo.ArticleEntity">
        SELECT t1.* FROM article t1
            LEFT JOIN article_label_relation t2 ON t1.id = t2.article_id
            LEFT JOIN article_classification_relation t3 ON t1.id = t3.article_id
            WHERE
                t1.deleted = 0
                <if test="webArticleQueryParam.labelId != null and webArticleQueryParam.labelId != ''">
                    AND t2.label_id = #{webArticleQueryParam.labelId}
                </if>
                <if test="webArticleQueryParam.classificationId != null and webArticleQueryParam.classificationId != ''">
                    AND t3.classification_id = #{webArticleQueryParam.classificationId}
                </if>
    </select>


</mapper>
