<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teeya.article.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.teeya.article.entity.pojo.ArticleEntity">
    <result column="id" property="id" />
    <result column="deleted" property="deleted" />
    <result column="remark" property="remark" />
    <result column="version" property="version" />
    <result column="title" property="title" />
    <result column="content" property="content" />
    <result column="visible" property="visible" />
    <result column="reading_number" property="readingNumber" />
    <result column="created_time" property="createdTime" />
    <result column="updated_time" property="updatedTime" />
    <result column="created_by" property="createdBy" />
    <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        deleted,
        remark,
        version,
        title, content, private, reading_number, created_time, updated_time, created_by, updated_by
    </sql>

</mapper>
